<!DOCTYPE html>

<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>title</title>

    <style>
 
    </style>
      {%load static%}
      <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  </head>
  
  <body>
    <div class="container">
      <h1>먹어본 놈들!</h1>
      <p>
        
          <a href="{% url 'recom_food' %}">사장님</a>
        
        
        
        <a href="{% url 'recom_food' %}">손님</a>
        
        
      </p>
    </div>
      
      
  </body>

</html>
