<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"         href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js">     </script>
    <style>
        h1{
            text-align:center;
        }
    </style>
    <title>customer</title>
    
</head>
<body>
    <h1>손님</h1>
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="">맛집 도전자</a></li>
        <li role="presentation"><a href="">맛집 추천</a></li>
        <li role="presentation"><a href="">파티 모집</a></li>
    </ul>
    
</body>
</html>
    
    
    
    
    
    
    
    